html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #264653;
    background-color: #e9c46a;
}

header {
    text-align: center;
}

#settings_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

#title {
    margin: 0;
    text-transform: uppercase;
}

#main_container {
    /* margin: 20px 0; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    /* grid-template-columns: 1fr 1fr; */
    /* border: 1px solid black; */
    /* height: 100%; */
}

.inp_range {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inp_range input {
    margin: 10px;
    padding: 10px;
    width: 50px;
    box-shadow: 0 0 2px #264653;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
}

.menu_list {
    margin: 0;
    padding: 20px 0 10px 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu_list > li {
    font-size: 1.4rem;
    padding: 0 10px;
    
}

label{
    font-size: 1.4rem;
}

.menu_list > li:hover {
    cursor: default;
    color: #e76f51;
}

.disabled,
li.disabled:hover {
    color: #f4a261;
}

#try_button {
    margin-top: 20px;
    color: #264653;
    align-self: center;
    font-size: 1.4rem;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2a9d8f;
    /* box-shadow: 0 0 2px #264653; */
}

#description{
    max-width: 500px;
    font-size: 1.4rem;
}
